/* General Style */
p {
  line-height: 1.8rem;
}
.container-fluid {
  max-width: 1770px;
}

/* Colors */
.text-primary-color,
.link-primary-color {
  color: #999;
}

.text-secondary-color {
  color: #009999;
}

.text-tertiary-color {
  color: #cc6699;
}

/* ul links */
.link-decoration {
  padding-left: 0;
}

.link-decoration li {
  list-style: none;
}

.link-decoration a {
  text-decoration: none;
}

.link-decoration a:hover {
  color: #009999;
}

/* Navbar */
/* Posioning burger menu fixed in the right */
.navbar-collapse {
  background: white;
  position: fixed;
  z-index: 10;
  top: 64px;
  right: 0;
  padding: 15px 40px 15px 15px;
}
.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* Styling Burger Icon */
.nav-container button {
  padding: 0;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-light .navbar-brand {
  color: #3399cc;
  font-size: 1.6rem;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* Styling the burger menu */
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: #666;
  font-size: 1.2rem;
}

.nav-link-1.active,
.nav-link-1:hover {
  border-bottom: 4px solid #33ccff;
}

.nav-link-2.active,
.nav-link-2:hover {
  border-bottom: 4px solid #ff6666;
}

.nav-link-3.active,
.nav-link-3:hover {
  border-bottom: 4px solid #33cc66;
}

.nav-link-4.active,
.nav-link-4:hover {
  border-bottom: 4px solid #cc66cc;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-brand:hover {
  color: #009999;
}

/* Banner and Search Input */
.banner-height {
  background: url(../images/hero.jpg);
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-input {
  width: 20rem;
  padding: 12px;
}

.search-btn {
  background-color: #009999;
  color: #ffffff;
  border-radius: 0;
  max-width: 5rem;
}

.form-control::placeholder {
  color: #009999;
  font-size: 1rem;
}

/* Main Content - Photos page */

/* First Row heading */
.heading-color {
  color: #009999;
}

/* Top pagination */
.input-paging {
  max-width: 40px;
  border-radius: 0;
  border: 1px solid #cccccc;
  background: #f4f4f4;
  text-align: center;
}

/* Bottom Pagination */
/* Buttoms Style Greeen */
.pagination-btn,
.submit-btn {
  background-color: #009999;
  color: #ffffff;
  border: none;
  font-size: 1.1rem;
  padding: 12px 50px 14px;
}

.pagination-btn:hover {
  background-color: #027878;
  color: #fff;
}

.page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 1.1rem;
  color: #999;
  background-color: #eeeeee;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.page-link:hover,
.page-link.active {
  background-color: #009999;
  color: #fff;
}

nav.pagination {
  flex-direction: column;
  align-items: center;
}

/* Images hover effect - Photos page */
/* .img-container {
  position: relative;
} */

/* .overlay-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 4px solid rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
  text-transform: uppercase;
  font-size: 3em;
  transition: all 0.3s;
}

.overlay:hover {
  transform: scale(0.8, 0.7);
  background-color: rgba(0, 0, 0, 0.5);
  border: 4px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
} */

.figure-img {
  margin-bottom: 0;
}

.img-container {
  margin-bottom: 0.5rem;
}
/* Overlay img figure */
.hover-effect {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  border: 4px solid rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
  transition: all 0.3s;
  cursor: pointer;
}

.hover-effect h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

.hover-effect:hover {
  transform: scale(0.8, 0.7);
  background-color: rgba(0, 0, 0, 0.5);
  border: 4px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  transition: all 0.3s;
}

.img-container:hover::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Ends overlay img figure */
/* End of main content - Photos page */

/* Main content - Contact Page */
select {
  color: #009999 !important;
  font-size: 1rem;
}

.form-control {
  padding: 10px 20px;
}

/* Map */
.no-padding {
  padding: 0;
}

.map-height {
  height: 500px;
}

/* Cards */

.social-links-start {
  display: flex;
  justify-content: flex-start;
}

.social-links-start li a {
  color: #666;
  width: 44px;
  height: 44px;
  display: flex;
  background-color: #eee;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.social-links-start li a:hover {
  color: #fff;
  background-color: #009999;
}
/* End of main content - contact page */

/* Footer */
.footer-bg {
  background-color: #eee;
}

.social-links-bg li a {
  color: #999999;
  width: 44px;
  height: 44px;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.footer-col3-flex {
  display: flex;
  flex-direction: column;
}

.footer-col3-flex a {
  text-align: left;
}

.social-links-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer-copyright {
  font-size: 0.7rem;
}

@media only screen and (min-width: 768px) {
  /* Navbar */
  .navbar-collapse {
    position: static;
    background: white;
    z-index: 1;
    top: 0;
    right: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

  /* Search Input */
  .search-btn {
    width: 5rem;
  }

  /* Pagination */
  nav.pagination {
    flex-direction: row;
    justify-content: space-between;
  }

  /* Footer */
  .container-small {
    max-width: 1050px;
  }
  .social-links-flex-row {
    justify-content: flex-end;
  }

  .footer-col3-flex li {
    text-align: right;
  }
}
